<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="../../../js/jquery.min.js"></script> 
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="../../../js/trirand/src/jquery.jqGrid.js"></script>
    <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="../../../js/trirand/i18n/grid.locale-en.js"></script>
	
	<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../../css/jquery-ui.css" />
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../../css/trirand/ui.jqgrid.css" />
    <meta charset="utf-8" />
    <title>알람이력</title>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
                <div class="form-group">
                  <label class="control-label" for="regDate">일시</label>
                  <div class="input-group date">
                    <input type="text" class="form-control input-sm pull-right" id="alarmTimeFrom" name="alarmTimeFrom">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                  <div class="input-group date">
                    <input type="text" class="form-control input-sm pull-right" id="alarmTimeTo" name="alarmTimeTo">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-primary btn-sm" id="btnSearch"><i class="fa fa-search"></i> 검색</button>
                  <button type="button" class="btn btn-primary btn-sm" id="btnExcelownload"><i class="fa fa-download"></i> 다운로드</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initButton();
			initGrid();
		});
		
		function initButton() {
			$("#btnSearch").click(function() {
				selectAlarmRecordList();
			});
			
			$("#btnExcelownload").click(function() {
				exportExcel();
			});
			
			$("#alarmTimeFrom").datepicker({
				autoclose: true
		    }).datepicker("setDate", new Date());

			$("#alarmTimeTo").datepicker({
				autoclose: true
		    }).datepicker("setDate", new Date());
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "json",
			   	colNames: ["구분","내용","일시"],
			   	colModel: [
			   		{name:"AlarmType", index:"AlarmType", width:"15%", align:"left"},	// 구분
			   		{name:"AlarmContents", index:"AlarmContents", width:"70%", align:"left"}, // 내용
			   		{name:"AlarmTime", index:"AlarmTime", width:"15%", align:"center"}, // 일시
			   	],
			   	rowNum: -1,
			   	loadonce: true,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 600
			});
		}
		
		function selectAlarmRecordList() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.alarmTimeFrom = $("#alarmTimeFrom").data("datepicker").getFormattedDate("yyyymmdd");
			param.alarmTimeTo = $("#alarmTimeTo").data("datepicker").getFormattedDate("yyyymmdd");
			
			if(param.alarmTimeFrom > param.alarmTimeTo){
				alert("조회조건(일시)을 확인하시기 바랍니다.");
				return;
			} 
			
			$("#grid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				url: "/htr/selectAlarmRecordList",
				postData: param,
			}).trigger("reloadGrid");
		}
		
		function exportExcel(){
			$("#grid").jqGrid("exportToExcel",{
				includeLabels : true,
				includeGroupHeader : true,
				includeFooter: true,
				fileName : "알람이력.xlsx",
				maxlength : 40 // maxlength for visible string data 
			});
		}
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>