<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
	<title>데이터관리-숙소동B</title>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
                <div class="form-group">
                  <label class="control-label" for="regDate">일시</label>
                  <div class="input-group date">
                    <input type="text" class="form-control input-sm pull-right" id="regDate" name="regDate">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
<!-- 
                <div class="form-group">
                  <label class="control-label" for="room">숙소동</label>
                  <select class="form-control input-sm" name="room" id="room" disabled>
                    <option value="">-- 선택 --</option>
                    <option value="roomB">숙소동-B</option>
                    <option value="roomC">숙소동-C</option>
                  </select>
                </div> 
-->
                <div class="form-group">
                  <label class="control-label" for="ho">호실</label>
                  <select class="form-control input-sm" name="ho" id="ho">
                  	<option value="">-- 선택 --</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="gubun">구분</label>
                  <select class="form-control input-sm" name="gubun" id="gubun" disabled>
                  	<option value="">현재/설정온도</option>
                  </select>
                </div>
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-primary btn-sm" id="btnSearch"><i class="fa fa-search"></i> 검색</button>
                  <button type="button" class="btn btn-primary btn-sm" id="btnExcelownload"><i class="fa fa-download"></i> 다운로드</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
			<div class="box-header with-border">
              <h3 class="box-title" id="roomTitle">숙소동</h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <div id="roomTempStsChart" style="height:190px"></div>
              </div>
            </div>
      	  </div>
      	  <div class="box box-solid">
			<div class="box-header with-border">
              <h3 class="box-title" id="hoTitle">호실</h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <div id="roomTempHoStsChart" style="height:190px"></div>
              </div>
            </div>
      	  </div>
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initButton();
			initGrid();
			

		});
		
		function initButton() {
			$("#btnSearch").click(function() {
				//$("#roomTitle").text("숙소동 [ " + $("#room option:selected").text() + " ]");
				$("#hoTitle").text("호실 [ " + $("#ho option:selected").text() + " ]");
				
				var searchCondition = $(".frmSearchCondition").serializeObject();
				var ho = searchCondition.ho;
				
				if(ho == "" || ho == null){
					alert("호실을 확인하시기 바랍니다.");
					return;
				}

				selectRoomTempSts();
				selectRoomHoTempSts();
				selectRoomList();
			});
			
			$("#btnExcelownload").click(function() {
				exportExcel();
			});
			
			$("#regDate").datepicker({
				autoclose: true
		    }).datepicker("setDate", new Date());
			
			var hoInfoList = roomInfo['roomB'];
			
			makeOption("#ho", hoInfoList, "ho", "name");
// 			$("#room").change(function() {
// 				var hoInfoList = roomInfo[this.value];
				
// 				makeOption("#ho", hoInfoList, "ho", "name");
// 			});
			
// 			$("#room").val("roomB").change();
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "local",
			   	colNames: ["일시","객실","난방설정","객실온도","설정온도","공급온도","환수온도","유량순시치","밸브개도율","온도차"],
			   	colModel: [
			   		{name:"RegDate", index:"RegDate", width:"17%", align:"center"}, // 일시
			   		{name:"Ho", index:"Ho", width:"10%", align:"center"},	// 객실
			   		{name:"OnOff", index:"OnOff", width:"10%", align:"center"}, // 난방설정
			   		{name:"InsideTemp", index:"InsideTemp", width:"9%", align:"right"}, // 객실온도
			   		{name:"SetTemp", index:"SetTemp", width:"9%", align:"right"}, // 설정온도
			   		{name:"InHeating", index:"InHeating", width:"9%", align:"right"}, // 공급온도
			   		{name:"OutHeating", index:"OutHeating", width:"9%", align:"right"}, // 환수온도
			   		{name:"NowFlow", index:"NowFlow", width:"9%", align:"right"}, // 유량순시치
			   		{name:"NowControlValue", index:"NowControlValue", width:"9%", align:"right"}, // 밸브개도율
			   		{name:"DiffHeating", index:"DiffHeating", width:"9%", align:"right"} // 온도차(공급온도-환수온도)
			   	],
			   	rowNum: -1,
			   	loadonce: true,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false
			});
		}
		
		function makeOption(selector, optionMap, valueField, textField) {
			$(selector).empty();
			
			$(selector).append($("<option>").attr("value", "").text("-- 선택 --"));
			
			$(optionMap).each(function() {
				$(selector).append($("<option>").attr("value", this[valueField]).text(this[textField]));
			});
		};
		
		function selectRoomTempSts() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.regDate = $("#regDate").data("datepicker").getFormattedDate("yyyymmdd");
			
			$("#roomTempStsChart").empty();
			
			$.ajax({ 
                type: "GET", 
                url: "/dmt/selectRoombTempSts", 
                data: param,
                dataType:"json",
                success: function (data) {
                	Morris.Line({
						element: "roomTempStsChart",
        				data: data,
						xkey: "HH",
						ykeys: ["SetTemp", "InsideTemp"],
						labels: ["설정 온도", "현재 온도"],
						parseTime: false,
						xLabels: "hour",
						yLabelFormat: function (y) { return y.toString() + "°C"; }
					});
                }
            });
		};
		
		function selectRoomHoTempSts() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.regDate = $("#regDate").data("datepicker").getFormattedDate("yyyymmdd");
			// param.room = searchCondition.room;
			param.ho = searchCondition.ho;
			
			$("#roomTempHoStsChart").empty();
			
			$.ajax({ 
                type: "GET", 
                url: "/dmt/selectRoombTempSts", 
                data: param,
                dataType:"json",
                success: function (data) {
                	Morris.Line({
						element: "roomTempHoStsChart",
        				data: data,
						xkey: "HH",
						ykeys: ["SetTemp", "InsideTemp"],
						labels: ["설정 온도", "현재 온도"],
						parseTime: false,
						yLabelFormat: function (y) { return y.toString() + "°C"; }
					});
                }
            });
		}
		
		function selectRoomList() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.regDate = $("#regDate").data("datepicker").getFormattedDate("yyyymmdd");
			
			$("#grid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				datatype: "json",
				url: "/dmt/selectRoombList",
				postData: param,
			}).trigger("reloadGrid");
		}
		
		function exportExcel(){
			$("#grid").jqGrid("exportToExcel",{
				includeLabels : true,
				includeGroupHeader : true,
				includeFooter: true,
				fileName : "데이터관리_숙소동B.xlsx",
				maxlength : 40 // maxlength for visible string data 
			});
		}
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>