<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">검색 조건</h3>
            </div>
            <div class="box-body">
              <form class="form-inline">
		              <!-- Date range -->
		              <div class="form-group">
		                <label>Date range:</label>
		
		                <div class="input-group">
		                  <div class="input-group-addon">
		                    <i class="fa fa-calendar"></i>
		                  </div>
		                  <input type="text" class="form-control pull-right" id="reservation">
		                </div>
		                <!-- /.input group -->
		              </div>
		              <!-- /.form group -->
		
		              <!-- Date and time range -->
		              <div class="form-group">
		                <label>Date and time range:</label>
		
		                <div class="input-group">
		                  <div class="input-group-addon">
		                    <i class="fa fa-clock-o"></i>
		                  </div>
		                  <input type="text" class="form-control pull-right" id="reservationtime">
		                </div>
		                <!-- /.input group -->
		              </div>
		              <!-- /.form group -->
			  </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
       	<!-- /.col (right) -->
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      		<div class="box box-solid box-danger">
      			zxc
      		</div>
      	</div>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			//Date range picker
			$('#reservation').daterangepicker()
			//Date range picker with time picker
			$('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
		})
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>