<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiControlRecordMapper">

	<select id="selectHmiControlRecordList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>
    
    <select id="selectControlRecordList" resultType="hashmap">
		Select No, Dong, Floor, Ho, NowTemp, SetTemp, NowControlValue, SetControlValue, 
		       DATE_FORMAT(RegDate, '%Y-%m-%d %H:%i:%s') RegDate, 
		       (CASE WHEN OnOff = 0 THEN 'OFF' WHEN OnOff = 1 THEN 'ON' END) OnOff
		from   ControlRecord
		where  date_format(RegDate,'%Y%m%d') between #{regDateFrom} and #{regDateTo}
		<if test="Dong != null and Dong != ''">
		AND Dong = #{Dong}
		</if>
		order by No, Dong, Floor, Ho
    </select>

</mapper>