<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiControlRecordMapper">

	<select id="selectHmiControlRecordList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>
    
    <select id="selectControlRecordList" resultType="hashmap">
		Select No, Dong, Floor, Ho, NowTemp, SetTemp, NowControlValue, SetControlValue, 
		       DATE_FORMAT(RegDate, '%Y-%m-%d %H:%i:%s') RegDate, 
		       (CASE WHEN OnOff = 0 THEN 'OFF' WHEN OnOff = 1 THEN 'ON' END) OnOff,
		       DiffTemp, OutTemp, 
		       (CASE WHEN flag = 0 THEN '읽지않음' WHEN flag = 1 THEN '읽음' END) flag, 
		       DATE_FORMAT(SetDate, '%Y-%m-%d %H:%i:%s') SetDate
		from   ControlRecord
		where  date_format(RegDate,'%Y%m%d') between #{regDateFrom} and #{regDateTo}
		<if test="Dong != null and Dong != ''">
		AND Dong = #{Dong}
		</if>
		order by No, Dong, Floor, Ho
    </select>

	<insert id="insertControlRecord">
		insert into ControlRecord
				(Dong, 
				Floor, 
				Ho, 
				NowTemp, 
				SetTemp, 
				NowControlValue, 
				SetControlValue,
				OnOff,
				RegDate,
				DiffTemp, 
				OutTemp, 
				flag)
			values(
				#{Dong}, 
				substr(#{Ho}, 1, 1), 
				#{Ho},  	
				nvl((select a.insideTemp
					from   RoomB a
					where  a.No = (select max(b.No) 
               						from RoomB b
									where a.Ho = b.Ho )
					and    a.Ho = #{Ho}), 0), 
				case #{OnOff} when '0' then 0 
							  else  case #{grpTempKey} when 'SetTemp' then #{grpTempValue}
							                           else 0 end

				end, 
				nvl((select a.NowControlValue
					from   RoomB a
					where  a.No = (select max(b.No) 
               						from RoomB b
									where a.Ho = b.Ho )
					and    a.Ho = #{Ho}), 0), 
				0, 
				#{OnOff},
		       	DATE_SUB(NOW(), INTERVAL 1 HOUR),
				case #{OnOff} when '0' then 0 
							  else  case #{grpTempKey} when 'DiffTemp' then #{grpTempValue}
							                           else 0 end

				end, 
				case #{OnOff} when '0' then 0 
							  else  case #{grpTempKey} when 'OutTemp' then #{grpTempValue}
							                           else 0 end
			    end, 
				0 
			)
	</insert>

</mapper>