<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiEnergyUseMapper">

	<select id="selectHmiEnergyUseList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>
    
    <select id="selectEnergyUseList" resultType="hashmap">
		Select 	a.Eu_Id,
		       	a.Year,
		       	a.Energy_Name,
		       	a.Unit,
		       	a.Jan,
				a.Feb,
				a.Mar,
				a.Apr,
				a.May,
				a.Jun,
				a.Jul,
				a.Aug,
				a.Sep,
				a.Oct,
				a.Nov,
				a.`Dec`,
				(a.Jan + a.Feb + a.Mar + a.Apr + a.May + a.Jun + a.Jul + a.Aug + a.Sep + a.Oct + a.Nov + a.`Dec`) Year_Sum
		from   energy_use a
		where  a.Year = #{Year}
		and    a.Eu_Id = (select max(b.Eu_Id)
							from energy_use b
							where b.Year = a.Year
							and   b.Energy_Name = a.Energy_Name
							and   b.Unit = a.Unit)
		order by case a.Energy_Name when '전력' then 1
		               when '경유' then 2
							when '도시가스' then 3
							when '기타' then 4
							else 9 end
	</select>
	
	<insert id="insertEnergyUse">
		insert into energy_use
			(Energy_Name,
		       	Unit,
		       	Year,
		       	Jan,
				Feb,
				Mar,
				Apr,
				May,
				Jun,
				Jul,
				Aug,
				Sep,
				Oct,
				Nov,
				`Dec`)
			values(
				#{Energy_Name},
		       	#{Unit},
		       	#{Year},
		       	#{Jan},
				#{Feb},
				#{Mar},
				#{Apr},
				#{May},
				#{Jun},
				#{Jul},
				#{Aug},
				#{Sep},
				#{Oct},
				#{Nov},
				#{Dec}
			)	
	</insert>

	<update id="updateEnergyUse">
		update energy_use
		set 
<!-- 
			Energy_Name = #{Energy_Name},
		    Unit = #{Unit},
		    Year = #{Year},
-->
		    Jan = #{Jan},
			Feb = #{Feb},
			Mar = #{Mar},
			Apr = #{Apr},
			May = #{May},
			Jun = #{Jun},
			Jul = #{Jul},
			Aug = #{Aug},
			Sep = #{Sep},
			Oct = #{Oct},
			Nov = #{Nov},
			`Dec` = #{Dec}
		where Eu_Id = #{Eu_Id}	
	</update>
	
	<delete id="deleteEnergyUse">
		delete from energy_use
		where Eu_Id = #{Eu_Id}	
	</delete>

</mapper>