<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiFactorInfoMapper">

	<select id="selectHmiFactorInfoList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>

	<select id="selectFactorInfoList" resultType="hashmap">
		SELECT
			F_Id,
			Year,
			Name,
			Type,
			Kind,
			Value,
			DATE_FORMAT(RegDate, '%Y-%m-%d %H:%i:%s') RegDate
		FROM
			Factor_Info
		WHERE
			Year = #{Year}
		order by RegDate		
    </select>

	<insert id="insertFactorInfo">
		insert into Factor_Info
				(Year,
				Name,
				Type,
				Kind,
				Value
				RegDate)
			values(
				#{Year},
		       	#{Name},
		       	#{Kind},
		       	#{Unit},
		       	#{Value},
		       	DATE_SUB(NOW(), INTERVAL 1 HOUR) 
			)
	</insert>

</mapper>