<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiFactorInfoMapper">

	<select id="selectHmiFactorInfoList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>

	<select id="selectFactorInfoList" resultType="hashmap">
		SELECT
			a.F_Id,
			a.Year,
			a.Name,
			a.Type,
			a.Kind,
			a.Value,
			DATE_FORMAT(a.RegDate, '%Y-%m-%d %H:%i:%s') RegDate
		FROM	Factor_Info a
		WHERE	a.Year = #{Year}
		and     a.F_Id = (select max(b.F_Id)
							from Factor_Info b
							where b.Year = a.Year
							and   b.Type = a.Type
							and   b.Kind = a.Kind)
		order by case a.Type when '전력' then 1
		               when '경유' then 2
							when '도시가스' then 3
							when '기타' then 4
							else 9 end		
    </select>

	<insert id="insertFactorInfo">
		insert into Factor_Info
				(Year,
				Name,
				Type,
				Kind,
				Value,
				RegDate)
			values(
				#{Year},
		       	'-',
		       	#{Type},
		       	#{Kind},
		       	#{Value},
		       	DATE_SUB(NOW(), INTERVAL 1 HOUR) 
			)
	</insert>

	<update id="updateFactorInfo">
		update Factor_Info
		set 	Year = #{Year},
				Name = #{Name},
				Type = #{Type},
				Kind = #{Kind},
				Value = #{Value},
				RegDate = DATE_SUB(NOW(), INTERVAL 1 HOUR)
		where F_Id = #{F_Id}
	</update>

	<delete id="deleteFactorInfo">
		delete from Factor_Info
		where F_Id = #{F_Id}
	</delete>

</mapper>