<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiGoalInfoMapper">

	<select id="selectHmiGoalInfoList" resultType="hashmap">
		SELECT
			NO,
			DONG,
			FLOOR,
			HO,
			NOW_CONTROL_VALUE,
			NOW_TEMP,
			ON_OFF,
			REG_DATE,
			SET_CONTROL_VALUE,
			SET_TEMP
		FROM
			HMI_CONTROL_RECORD
    </select>

	<select id="selectGoalInfoList" resultType="hashmap">
		SELECT
			G_Id,
			Year,
			Name,
			Unit,
			Value,
			DATE_FORMAT(RegDate, '%Y-%m-%d %H:%i:%s') RegDate
		FROM
			Goal_Info
		WHERE
			Year = #{Year}
		order by RegDate		
    </select>

	<insert id="insertGoalInfo">
		insert into Goal_Info
				(Year,
		       	Name,
		       	Unit,
		       	Value,
				RegDate)
			values(
				#{Year},
		       	#{Name},
		       	#{Unit},
		       	#{Value},
		       	DATE_SUB(NOW(), INTERVAL 1 HOUR) 
			)
	</insert>
	
	<update id="updateGoalInfo">
		update Goal_Info
		set		Year = #{Year},
		       	Name = #{Name},
		       	Unit = #{Unit},
		       	Value = #{Value},
				RegDate = DATE_SUB(NOW(), INTERVAL 1 HOUR) 
		where G_Id = #{G_Id}
	</update>

	<delete id="deleteGoalInfo">
		delete from Goal_Info
		where G_Id = #{G_Id}
	</delete>
	
</mapper>