<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmi.mapper.HmiRoomaMapper">

	<select id="selectHmiRoomaList" resultType="hashmap">
		SELECT
			NO,
			FLOOR,
			HO,
			INHEATING,
			INSIDETEMP,
			NOWCONTROLVALUE,
			NOWFLOW,
			ONOFF,
			OUTHEATING,
			REGDATE,
			SETCONTROLVALUE,
			SETDATE,
			SETTEMP,
			TOTALFLOW,
			TOTALHEAT
		FROM
			ROOMA
    </select>

	<select id="selectRoomTempSts" resultType="hashmap">
	    SELECT
			date_format(RegDate,'%H') as HH,
			round(avg(InsideTemp), 1) as InsideTemp,
			round(avg(SetTemp), 1) as SetTemp
		FROM
			RoomA
		WHERE
			date_format(RegDate,'%Y%m%d') = #{regDate}
			<if test="ho != null and ho != ''">
			AND Ho = #{ho}
			</if>
		GROUP BY
			date_format(RegDate,'%Y%m%d%H')
    </select>

</mapper>