<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
                <div class="form-group">
                  <label class="control-label" for="Year">년도</label>
                  <select class="form-control input-sm" name="Year" id="Year">
                    <option value="">-- 선택 --</option>
                    <option value="2018">2018</option>
                    <option value="2019" selected>2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                  </select>
                </div>  
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-primary btn-sm" id="btnSearch"><i class="fa fa-search"></i> 검색</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
      <!-- 입력 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="addGrid" class="col-md-12"></table>
				<div class="pull-right" style="margin-top: 10px;">
				   <button type="button" class="btn btn-primary btn-sm" id="btnAdd"><i class="fa fa-add"></i> 추가</button>
				   <button type="button" class="btn btn-primary btn-sm" id="btnSave"><i class="fa fa-svae"></i> 저장</button>
				</div>
            </div>
      	  </div>
      	</div>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initButton();
			initGrid();
		});
		
		function initButton() {
			$("#btnSearch").click(function() {
				selectEnergyUseList();
			});
			
			$("#btnAdd").click(function() {
				addRow();
			});
			
			$("#btnSave").click(function() {
				var grid = $("#addGrid");
	            var ids = grid.jqGrid('getDataIDs');
	            
	           	for (var i = 0; i < ids.length; i++) {
	                grid.jqGrid('saveRow', ids[i]);
	            }
	           	
	           	selectEnergyUseList();
			});
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "local",
			   	colNames: ["", "년도", "구분","단위","합계","1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
			   	colModel: [
			   		{name:"Eu_Id", index:"Eu_Id", hidden:true, key:true},
			   		{name:"Year", index:"Year", width:"10%", align:"center", hidden:true}, // 년도
			   		{name:"Energy_Name", index:"Energy_Name", width:"10%", align:"center"},	// 구분
			   		{name:"Unit", index:"Unit", width:"10%", align:"center"}, // 단위
			   		{name:"Year_Sum", index:"Year_Sum", width:"8%", align:"right", formatter: 'number'}, // 합계
			   		{name:"Jan", index:"Jan", width:"6%", align:"right", formatter: 'number'}, // 1월
			   		{name:"Feb", index:"Feb", width:"6%", align:"right", formatter: 'number'}, // 2월
			   		{name:"Mar", index:"Mar", width:"6%", align:"right", formatter: 'number'}, // 3월
			   		{name:"Apr", index:"Apr", width:"6%", align:"right", formatter: 'number'}, // 4월
			   		{name:"May", index:"May", width:"6%", align:"right", formatter: 'number'}, // 5월
			   		{name:"Jun", index:"Jun", width:"6%", align:"right", formatter: 'number'}, // 6월
			   		{name:"Jul", index:"Jul", width:"6%", align:"right", formatter: 'number'}, // 7월
			   		{name:"Aug", index:"Aug", width:"6%", align:"right", formatter: 'number'}, // 8월
			   		{name:"Sep", index:"Sep", width:"6%", align:"right", formatter: 'number'}, // 9월	
			   		{name:"Oct", index:"Oct", width:"6%", align:"right", formatter: 'number'}, // 10월
			   		{name:"Nov", index:"Nov", width:"6%", align:"right", formatter: 'number'}, // 11월
			   		{name:"Dec", index:"Dec", width:"6%", align:"right", formatter: 'number'}, // 12월
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 300,
			    loadOnce: true
			});
			
			$("#addGrid").jqGrid({
				datatype: "local",
			   	colNames: ["년도","구분","단위","년도","구분","단위","합계","1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
			   	colModel: [
			   		{name:"Year", 			index:"Year1", width:"10%", align:"center", editable:false}, // 년도
			   		{name:"Energy_Name", 	index:"Energy_Name1", width:"10%", align:"center",editable:false},	// 구분
			   		{name:"Unit", 			index:"Unit1", width:"10%", align:"center",editable:false}, // 단위

			   		{name:"Year", 			index:"Year", width:"10%", align:"center", editable:true,	hidden:true}, // 년도
			   		{name:"Energy_Name", 	index:"Energy_Name", width:"10%", align:"center",editable:true, hidden:true},	// 구분
			   		{name:"Unit", 			index:"Unit", width:"10%", align:"center",editable:true, 	hidden:true}, // 단위
			   		{name:"Year_Sum", 		index:"Year_Sum", width:"8%", align:"right", formatter: 'number', sortable:false}, // 합계
			   		{name:"Jan", 			index:"Jan", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 1월
			   		{name:"Feb", 			index:"Feb", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 2월
			   		{name:"Mar", 			index:"Mar", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 3월
			   		{name:"Apr", 			index:"Apr", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 4월
			   		{name:"May", 			index:"May", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 5월
			   		{name:"Jun", 			index:"Jun", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 6월
			   		{name:"Jul", 			index:"Jul", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 7월
			   		{name:"Aug", 			index:"Aug", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 8월
			   		{name:"Sep", 			index:"Sep", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 9월	
			   		{name:"Oct", 			index:"Oct", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 10월
			   		{name:"Nov", 			index:"Nov", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 11월
			   		{name:"Dec", 			index:"Dec", width:"6%", align:"right", editable:true, sortable:false, formatter: 'number'}, // 12월
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 110,
			    loadOnce: true,
			    onSelectRow: function(id) {
			    	$("#addGrid").jqGrid('editRow', id, true);
				},
				cellsubmit :'clientArray',
				editurl: '/rfi/saveEnergyUseList',
				loadComplete: function(data) {
					var searchCondition = $(".frmSearchCondition").serializeObject();
					
					var baseData = [
						{"Year": searchCondition.Year, "Energy_Name": "전력",		"Unit": "MWh", "Jan": 0, "Feb": 0, "Mar": 0, "Apr": 0, "May": 0, "Jun": 0,"Jul": 0, "Aug": 0, "Sep": 0,"Oct": 0, "Nov": 0, "Dec": 0 },
						{"Year": searchCondition.Year, "Energy_Name": "경유", 	"Unit": "L",   "Jan": 0, "Feb": 0, "Mar": 0, "Apr": 0, "May": 0, "Jun": 0,"Jul": 0, "Aug": 0, "Sep": 0,"Oct": 0, "Nov": 0, "Dec": 0 },
						{"Year": searchCondition.Year, "Energy_Name": "도시가스", 	"Unit": "Nm3", "Jan": 0, "Feb": 0, "Mar": 0, "Apr": 0, "May": 0, "Jun": 0,"Jul": 0, "Aug": 0, "Sep": 0,"Oct": 0, "Nov": 0, "Dec": 0 },
						{"Year": searchCondition.Year, "Energy_Name": "기타", 	"Unit": "Kg",  "Jan": 0, "Feb": 0, "Mar": 0, "Apr": 0, "May": 0, "Jun": 0,"Jul": 0, "Aug": 0, "Sep": 0,"Oct": 0, "Nov": 0, "Dec": 0 }
					];
					
					if(Array.isArray(data)) {
						if(data.length === 0) {
							$(this).jqGrid('addRowData', 0, baseData);
						} else if(data.length === 4) {
							return;
						} else {
							for(var i=0; i<baseData.length; i++) {
								var isExist = false;
								
								for(var j=0; j<data.length; j++) {
									if(baseData[i].Energy_Name === data[j].Energy_Name) {
										isExist = true;
										break;
									}
								}
								
								if(!isExist) {
									$(this).jqGrid('addRowData', i, baseData[i]);
								}
				        	}
						}
			        }
			    }
			});			
		}
		
		function selectEnergyUseList() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.Year = searchCondition.Year;
			
			$("#grid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				datatype: "json",
				url: "/rfi/selectEnergyUseList",
				postData: param,
			}).trigger("reloadGrid");
			
			$("#addGrid").jqGrid("clearGridData", true);
		}
		
		function addRow(){
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.Year = searchCondition.Year;
			
			$("#addGrid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				datatype: "json",
				url: "/rfi/selectEnergyUseList",
				postData: param,
			}).trigger("reloadGrid");
		}
		
		function calculateTotal() { 
		    var grid = jQuery("#addGrid"); 
		    var ids = grid.jqGrid('getDataIDs');
		    
		    for (var i = 0; i < ids.length; i++) { 
		     	var id = ids[i];
		     	var totalAmount = 0;
		     	
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Jan')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Feb')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Mar')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Apr')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'May')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Jun')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Jul')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Aug')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Sep')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Oct')); 
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Nov'));
			    totalAmount += Number(grid.jqGrid('getCell', id, 'Dec'));

	      		grid.jqGrid('setRowData', id, { 
		       								'Year_Sum': totalAmount	}); 
		    } 
		} 
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>