<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
                <div class="form-group">
                  <label class="control-label" for="Year">년도</label>
                  <select class="form-control input-sm" name="Year" id="Year">
                    <option value="">-- 선택 --</option>
                    <option value="2018">2018</option>
                    <option value="2019" selected>2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                  </select>
                </div>  
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-primary btn-sm" id="btnSearch"><i class="fa fa-search"></i> 검색</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
      <!-- 입력 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
				<table id="addGrid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
      <div class="form-group pull-right">
         <button type="button" class="btn btn-primary btn-sm" id="btnAdd"><i class="fa fa-add"></i> 추가</button>
         <button type="button" class="btn btn-primary btn-sm" id="btnSave"><i class="fa fa-svae"></i> 저장</button>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initButton();
			initGrid();
		});
		
		function initButton() {
			$("#btnSearch").click(function() {
				selectGoalInfoList();
			});
			
			$("#btnAdd").click(function() {
				addRow();
			});

			$("#btnSave").click(function() {
				var grid = $("#addGrid");
	            var ids = grid.jqGrid('getDataIDs');
	            
	           	for (var i = 0; i < ids.length; i++) {
	                grid.jqGrid('saveRow', ids[i]);
	            }
	           	
	           	selectGoalInfoList();
			});
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "local",
			   	colNames: ["종류","목표량","단위","등록일시"],
			   	colModel: [
			   		{name:"Name", 		index:"Name", 		width:"30%", align:"center"},	// 종류
			   		{name:"Value", 		index:"Value", 		width:"30%", align:"right", formatter: 'number'}, // 목표량
			   		{name:"Unit", 		index:"Unit", 		width:"20%", align:"center"}, // 단위
			   		{name:"RegDate", 	index:"RegDate", 	width:"20%", align:"center"}, // 등록일시
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 400
			});

			$("#addGrid").jqGrid({
				datatype: "local",
			   	colNames: ["년도","종류","년도","종류","목표량","단위"],
			   	colModel: [
			   		{name:"Year1", 	index:"Year1", 	width:"20%", align:"center", 	editable:false, sortable:false},	// 년도
			   		{name:"Name1", 	index:"Name1", 	width:"30%", align:"center", 	editable:false, sortable:false},	// 종류

			   		{name:"Year", 	index:"Year", 	width:"20%", align:"center", 	editable:true,	hidden:true},	// 년도
			   		{name:"Name", 	index:"Name", 	width:"30%", align:"center", 	editable:true,	hidden:true},	// 종류
			   		{name:"Value", 	index:"Value", 	width:"30%", align:"right", 	editable:true, formatter: 'number', sortable:false}, // 목표량
			   		{name:"Unit", 	index:"Unit", 	width:"20%", align:"center", 	editable:true, sortable:false}, // 단위
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 26,
			    cellsubmit :'clientArray',
			    editurl: '/rfi/saveGoalInfoList',
			    onSelectRow: function(id) {
			    	$("#addGrid").jqGrid('editRow', id, true);
				}
			});
		}
		
		function selectGoalInfoList() {
			var searchCondition = $(".frmSearchCondition").serializeObject();
			
			var param = {};
			param.Year = searchCondition.Year;
			
			$("#grid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				datatype: "json",
				url: "/rfi/selectGoalInfoList",
				postData: param,
			}).trigger("reloadGrid");
			
			$("#addGrid").jqGrid("clearGridData", true);
		}
		
		function addRow(){
			var searchCondition = $(".frmSearchCondition").serializeObject();
			var Year = searchCondition.Year
			
			var newRowData = [{"Year1": Year, "Name1": "에너지효율", "Year": Year, "Name": "에너지효율", "Value": 0, "Unit": "%"}];
			
			$("#addGrid").jqGrid("clearGridData", true)
			.jqGrid('addRowData', 0, newRowData);
		}
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>