<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
  <aside class="main-sidebar" th:fragment="mainSidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- ################################### 모니터링 ################################### -->
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-th"></i> <span>모니터링</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 변온소</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 연구동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 기계실</a></li>
              </ul>
            </li>
            <li class="treeview active">
              <a href="#"><i class="fa fa-circle-o"></i> 숙소동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/mtr/mtrRoomb"><i class="fa fa-circle-o"></i> 숙소B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> 숙소C</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- ################################### 테이터관리 ################################### -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>테이터관리</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 변온소</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 연구동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 기계실</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 숙소동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/dmnt/dmntRoombList"><i class="fa fa-circle-o"></i> 숙소B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> 숙소C</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- ################################### 이력관리 ################################### -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>이력관리</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/htr/htrControlRecordList"><i class="fa fa-circle-o"></i> 제어이력</a></li>
            <li><a href="/htr/htrAlarmRecordList"><i class="fa fa-circle-o"></i> 알람이력</a></li>
          </ul>
        </li>
        <!-- ################################### 기준정보 ################################### -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>기준정보</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/rfi/rfiEnergyUseList"><i class="fa fa-circle-o"></i> 사용량관리</a></li>
            <li><a href="/rfi/rfiGoalInfoList"><i class="fa fa-circle-o"></i> 목표관리</a></li>
            <li><a href="/rfi/rfiFactorInfoList"><i class="fa fa-circle-o"></i> 산정관리</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</body>
</html>