<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
  <aside class="main-sidebar" th:fragment="mainSidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- ################################### 모니터링 ################################### -->
        <li class="treeview" data-menu-no="010000" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '010000')} ? 'active' : ''">
          <a href="#">
            <i class="fa fa-th"></i> <span>모니터링</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 변온소</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 연구동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 기계실</a></li>
              </ul>
            </li>
            <li class="treeview" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '010300')} ? 'active' : ''">
              <a href="#"><i class="fa fa-circle-o"></i> 숙소동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li th:classappend="${menu.MENU_NO == '010301'} ? 'active' : ''"><a href="/menu?menuNo=010301"><i class="fa fa-circle-o"></i> 숙소B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> 숙소C</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- ################################### 테이터관리 ################################### -->
        <li class="treeview" data-menu-no="020000" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '020000')} ? 'active' : ''">
          <a href="#">
            <i class="fa fa-th"></i> <span>테이터관리</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 변온소</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 연구동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 기계실</a></li>
              </ul>
            </li>
            <li class="treeview" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '020300')} ? 'active' : ''">
              <a href="#"><i class="fa fa-circle-o"></i> 숙소동
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li th:classappend="${menu.MENU_NO == '020301'} ? 'active' : ''"><a href="/menu?menuNo=020301"><i class="fa fa-circle-o"></i> 숙소B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> 숙소C</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- ################################### 이력관리 ################################### -->
        <li class="treeview" data-menu-no="030000" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '030000')} ? 'active' : ''">
          <a href="#">
            <i class="fa fa-th"></i> <span>이력관리</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li th:classappend="${menu.MENU_NO == '030100'} ? 'active' : ''"><a href="/menu?menuNo=030100"><i class="fa fa-circle-o"></i> 제어이력</a></li>
          	<li th:classappend="${menu.MENU_NO == '030200'} ? 'active' : ''"><a href="/menu?menuNo=030200"><i class="fa fa-circle-o"></i> 알람이력</a></li>
          </ul>
        </li>
        <!-- ################################### 기준정보 ################################### -->
        <li class="treeview" data-menu-no="040000" th:classappend="${#strings.contains(menu.MENU_NO_PATH, '040000')} ? 'active' : ''">
          <a href="#">
            <i class="fa fa-th"></i> <span>기준정보</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li th:classappend="${menu.MENU_NO == '040100'} ? 'active' : ''"><a href="/menu?menuNo=040100"><i class="fa fa-circle-o"></i> 사용량관리</a></li>
          	<li th:classappend="${menu.MENU_NO == '040200'} ? 'active' : ''"><a href="/menu?menuNo=040200"><i class="fa fa-circle-o"></i> 목표관리</a></li>
          	<li th:classappend="${menu.MENU_NO == '040300'} ? 'active' : ''"><a href="/menu?menuNo=040300"><i class="fa fa-circle-o"></i> 산정관리</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
    <script th:inline="javascript">
    	function openMenu(menuNo) {
    		$('ul.sidebar-menu > .treeview').filter(function() {
			    return $(this).data('menuNo') == menuNo;
			}).children("a").trigger("click");
	  	}
	</script>
  </aside>
</body>
</html>