<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
	<style type="text/css">
		.hidden {
			display: none;
		}
		
		.floor {
			text-align: center;
		}
		
		.floor .ho {
			display: inline-block;
			width: 120px;
			height: 130px;
			padding-left: 5px;
			padding-right: 5px;
			background-color: #f5f5f5;
			border: 1px solid #e3e3e3;
		}
		
		.floor .ho .ho-name {
			text-align: left;
		}
		
		.floor .ho .ho-form-group {
			text-align: left;
		}
		
		.floor .ho .ho-form-group label {
			margin-right: 5px;
		}
		
		.floor .ho .ho-form-group input[type="text"] {
			width: 37px;
		}
	</style>
</head>
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row" style="display: none;">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
            	<!-- floor template -->
            	<div class="floor hidden"></div>
            	<!-- ho template -->
            	<div class="ho hidden">
					<div class="ho-name"></div>
					<div>
						<div class="ho-form-group">
							<input type="hidden" id="floor" name="floor" value="">
							<input type="hidden" id="ho" name="ho" value="">
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">현재</label>
							<input type="text" id="a" name="a" disabled="disabled">
							<span>°C</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">설정</label>
							<input type="text" id="b" name="b" disabled="disabled">
							<span>°C</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">유량</label>
							<input type="text" id="c" name="c" disabled="disabled">
							<span>kg/hr</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">난방</label>
							<input type="checkbox" id="d" name="d" checked disabled data-toggle="toggle" data-size="mini" data-width="37">
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary btn-sm" style="position: absolute;" id="btnBatchControl">일괄 제어</button>
				<form name="building">
				</form>
            </div>
      	  </div>
      	  <div class="box box-solid">
            <div class="box-body">
            	<div class="text-right">
            		단위 : 시간
            	</div>
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initView();
			initButton();
			initGrid();
		});
		
		function initView() {
			var floorCount = 5;
			var hoInfoList = roomInfo["roomB"];
			
			for(var i=floorCount; i>0; i--) {
				var floorTemplate = $(".floor.hidden").clone();
				floorTemplate.removeClass("hidden");
				
				for(var j=0; j<hoInfoList.length; j++) {
					var hoInfo = hoInfoList[j];
					
					if(i == hoInfo.floor) {
						var hoTemplate = $(".ho.hidden").clone();
						hoTemplate.removeClass("hidden");
						hoTemplate.find(".ho-name").html(hoInfo.name);
						hoTemplate.find("#floor").val(hoInfo.floor);
						hoTemplate.find("#ho").val(hoInfo.ho);
						
						hoTemplate.dblclick(function() {
							var hoName = $(this).find(".ho-name").html();
							var floor = $(this).find("#floor").val();
							var ho = $(this).find("#ho").val();
							
							alert(
								"hoName = " + hoName + "\n" +
								"floor = " + floor + "\n" +
								"ho = " + ho + "\n"
							);
						});
						floorTemplate.append(hoTemplate);
					}
				}
				
				$('form[name="building"]').append(floorTemplate);
			}
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "json",
			   	colNames: ["구분","전체","1층","2층","3층","4층","5층"],
			   	colModel: [
			   		{name:"RegDate", index:"RegDate", width:100, align:"center"}, // 구분
			   		{name:"Ho", index:"Ho", width:100, align:"center"},	// 전체
			   		{name:"OnOff", index:"OnOff", width:100, align:"center"}, // 1층
			   		{name:"InsideTemp", index:"InsideTemp", width:100, align:"right"}, // 2층
			   		{name:"SetTemp", index:"SetTemp", width:100, align:"right"}, // 3층
			   		{name:"InHeating", index:"InHeating", width:100, align:"right"}, // 4층
			   		{name:"OutHeating", index:"OutHeating", width:100, align:"right"}, // 5층
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false
			});
		}
		
		function initButton() {
			$("#btnBatchControl").click(function() {
				alert("준비 중");
			});
		}
		
		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>