<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<head>
	<style type="text/css">
		.hidden {
			display: none;
		}
		
		.floor {
			text-align: center;
		}
		
		.floor .ho {
			display: inline-block;
			width: 120px;
			height: 130px;
			padding-left: 5px;
			padding-right: 5px;
			background-color: #f5f5f5;
			border: 1px solid #e3e3e3;
		}
		
		.floor .ho .ho-name {
			text-align: left;
		}
		
		.floor .ho .ho-form-group {
			text-align: left;
		}
		
		.floor .ho .ho-form-group label {
			margin-right: 5px;
		}
		
		.floor .ho .ho-form-group input[type="text"] {
			width: 37px;
		}
		
		.disconnected {
			border-color: red !important;
		}
		
		.onoffBC {
			background-color: #08298A;
			color:#FFFF00;
		}
	</style>
</head> 	
<body>
    <section class="content" layout:fragment="content">
      <!-- 검색조건 영역 -->
      <div class="row" style="display: none;">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
			  <form role="form" class="form-inline frmSearchCondition">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 검색결과 영역 -->
      <div class="row">
      	<div class="col-md-12">
      	  <div class="box box-solid">
            <div class="box-body">
            	<!-- floor template -->
            	<div class="floor hidden"></div>
            	<!-- ho template -->
            	<div class="ho hidden">
					<div class="ho-name"></div>
					<div>
						<div class="ho-form-group">
							<input type="hidden" id="floor" name="floor" value="">
							<input type="hidden" id="ho" name="ho" value="">
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">현재</label>
							<input type="text" id="InsideTemp" name="InsideTemp" disabled="disabled">
							<span>°C</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">설정</label>
							<input type="text" id="SetTemp" name="SetTemp" disabled="disabled">
							<span>°C</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">유량</label>
							<input type="text" id="InHeating" name="InHeating" disabled="disabled">
							<span>kg/hr</span>
						</div>
						<div class="ho-form-group">
							<label for="colFormLabelSm">난방</label>
							<input type="text" id=OnOff name="OnOff" disabled="disabled">
							<!--  <input type="checkbox" id="OnOff" name="OnOff" disabled data-toggle="toggle" data-size="mini" data-width="37"> -->
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary btn-sm" style="position: absolute;" id="btnBatchControl" data-toggle="modal">일괄 제어</button>
				<form name="building">
				</form>
            </div>
      	  </div>
      	  <div class="box box-solid">
            <div class="box-body">
            	<div class="text-right">
            		단위 : 시간
            	</div>
				<table id="grid" class="col-md-12"></table>
            </div>
      	  </div>
      	</div>
      </div>
      <div class="modal-container"></div>
    </section>
    
	<th:block layout:fragment="content_js">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function () {
			initView();
			initButton();
			initGrid();
		});
		
		function initView() {
			var floorCount = 5;
			var hoInfoList = roomInfo["roomB"];
			
			for(var i=floorCount; i>0; i--) {
				var floorTemplate = $(".floor.hidden").clone();
				floorTemplate.removeClass("hidden");
				
				for(var j=0; j<hoInfoList.length; j++) {
					var hoInfo = hoInfoList[j];
					
					if(i == hoInfo.floor) {
						var hoTemplate = $(".ho.hidden").clone();
						hoTemplate.removeClass("hidden");
						hoTemplate.addClass("ho"+hoInfo.ho);
						hoTemplate.find(".ho-name").html(hoInfo.name);
						hoTemplate.find("#floor").val(hoInfo.floor);
						hoTemplate.find("#ho").val(hoInfo.ho);
						
						hoTemplate.dblclick(function() {
							var hoName = $(this).find(".ho-name").html();
							var floor = $(this).find("#floor").val();
							var ho = $(this).find("#ho").val();
							
							var url   = "/mtr/mtrRoombHoInfoPopup";
							var param = "";
							param += "?ho="+ ho;
							
							$(".modal-container").load(url + param, function(result) {
								$(".modal").modal("show");
							});
						});
						floorTemplate.append(hoTemplate);
					}
				}
				
				$('form[name="building"]').append(floorTemplate);
			}
			
			selectRoombList();
		}
		
		function initGrid() {
			$("#grid").jqGrid({
				datatype: "local",
			   	colNames: ["구분","전체","1층","2층","3층","4층","5층"],
			   	colModel: [
			   		{name:"Title", index:"Title", width:100, align:"center"}, // 구분
			   		{name:"FloorSum", index:"FloorSum", width:100, align:"center"},	// 전체
			   		{name:"Floor1", index:"Floor1", width:100, align:"center"}, // 1층
			   		{name:"Floor2", index:"Floor2", width:100, align:"right"}, // 2층
			   		{name:"Floor3", index:"Floor3", width:100, align:"right"}, // 3층
			   		{name:"Floor4", index:"Floor4", width:100, align:"right"}, // 4층
			   		{name:"Floor5", index:"Floor5", width:100, align:"right"}, // 5층
			   	],
			   	rowNum: -1,
			    viewrecords: true,
			    autowidth: true, 
			    shrinkToFit: true,
			    forceFit: false,
			    height: 47,
			    onInitGrid: function() {
					selectRoomBSts();
			    }
			});
		}
		
		function initButton() {
			$("#btnBatchControl").click(function() {
				var url   = "/mtr/mtrRoombBatchControlPopup";
				var param = "";
				
				$(".modal-container").load(url + param, function(result) {
					$(".modal").modal("show");
				});
			});
		}

		function selectRoomBSts() {
			var param = {};
			
			$("#grid")
			.jqGrid("clearGridData", true)
			.jqGrid("setGridParam", {
				datatype: "json",
				url: "/dmt/selectRoombSts",
				postData: param,
			}).trigger("reloadGrid");
		}
		
		function selectRoombList() {
			var param = {};
			
			$.ajax({ 
	            type: "GET", 
	            url: "/dmt/selectRoombList", 
	            data: param,
	            dataType:"json",
	            success: function (data) {
	            	for(var i=0; i<data.length; i++) {
	            		var item = data[i];
	            		
	            		$(".ho"+item.Ho).removeClass("disconnected");
	            		$(".ho"+item.Ho).addClass(item.InsideTemp > 30 ? "disconnected" : "")
	            		$(".ho"+item.Ho).find("#InsideTemp").val(item.InsideTemp);
	            		$(".ho"+item.Ho).find("#SetTemp").val(item.SetTemp);
	            		$(".ho"+item.Ho).find("#InHeating").val(item.InHeating);
	            		$(".ho"+item.Ho).find("#OnOff").val(item.OnOff);
	            		
	            		$(".ho"+item.Ho).find("#OnOff").addClass(item.OnOff == "ON" ? "onoffBC" : "");
	            		
	            		//$(".ho"+item.Ho).find("#OnOff").prop("checked", item.OnOff == "ON" ? true : false).change();
	            		//$(".ho"+item.Ho).find("#aaaaa").bootstrapToggle(item.OnOff.toLowerCase());
	            	}
	            }
	        });
		}

		
		/*]]>*/
		</script>
	</th:block>
</body>
</html>