<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.modal-dialog {
			width: 700px;
		}
		
		.modal .ho-select label {
			width: 40px;
		}
		
		.modal .templeftContainer {
			display: inline-block;
			width: 120px;
			text-align: left;
		}
		
		.modal .tempRightContainer {
			display: inline-block;
			width: 200px;
			text-align: left;
		}
	</style>
</head>
<body>
	<div class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">제어 데이터 설정</h4>
	      </div>
	      <div class="modal-body">
	      	<form name="frmDataControlConfig">
		      	<div class="ho-select">
			      	<div>
			      		<input type="checkbox" class="flat-red all" id="all">
			      		<label for="all">전체</label>
			      		<input type="checkbox" class="flat-red floor" data-floor="1">
			      		<label for="1">1층</label>
			      		<input type="checkbox" class="flat-red floor" data-floor="2">
			      		<label for="2">2층</label>
			      		<input type="checkbox" class="flat-red floor" data-floor="3">
			      		<label for="3">3층</label>
			      		<input type="checkbox" class="flat-red floor" data-floor="4">
			      		<label for="4">4층</label>
			      		<input type="checkbox" class="flat-red floor" data-floor="5">
			      		<label for="5">5층</label>
			      	</div>
			      	<div>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="111" name="hoList" value="111">
			      		<label for="111">111호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="112" name="hoList" value="112">
			      		<label for="112">112호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="113" name="hoList" value="113">
			      		<label for="113">113호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="114" name="hoList" value="114">
			      		<label for="114">114호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="115" name="hoList" value="115">
			      		<label for="115">115호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="116" name="hoList" value="116">
			      		<label for="116">116호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="117" name="hoList" value="117">
			      		<label for="117">117호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="118" name="hoList" value="118">
			      		<label for="118">118호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="119" name="hoList" value="119">
			      		<label for="119">119호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="1" data-ho="120" name="hoList" value="120">
			      		<label for="120">120호</label>
			      	</div>
			      	<div>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="211" name="hoList" value="211">
			      		<label for="211">211호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="212" name="hoList" value="212">
			      		<label for="212">212호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="213" name="hoList" value="213">
			      		<label for="213">213호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="214" name="hoList" value="214">
			      		<label for="214">214호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="215" name="hoList" value="215">
			      		<label for="215">215호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="216" name="hoList" value="216">
			      		<label for="216">216호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="217" name="hoList" value="217">
			      		<label for="217">217호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="218" name="hoList" value="218">
			      		<label for="218">218호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="219" name="hoList" value="219">
			      		<label for="219">219호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="2" data-ho="220" name="hoList" value="220">
			      		<label for="220">220호</label>
			      	</div>
			      	<div>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="311" name="hoList" value="311">
			      		<label for="311">311호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="312" name="hoList" value="312">
			      		<label for="312">312호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="313" name="hoList" value="313">
			      		<label for="313">313호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="314" name="hoList" value="314">
			      		<label for="314">314호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="315" name="hoList" value="315">
			      		<label for="315">315호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="316" name="hoList" value="316">
			      		<label for="316">316호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="317" name="hoList" value="317">
			      		<label for="317">317호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="318" name="hoList" value="318">
			      		<label for="318">318호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="319" name="hoList" value="319">
			      		<label for="319">319호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="3" data-ho="320" name="hoList" value="320">
			      		<label for="320">320호</label>
			      	</div>
			      	<div>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="411" name="hoList" value="411">
			      		<label for="411">411호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="412" name="hoList" value="412">
			      		<label for="412">412호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="413" name="hoList" value="413">
			      		<label for="413">413호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="414" name="hoList" value="414">
			      		<label for="414">414호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="415" name="hoList" value="415">
			      		<label for="415">415호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="4" data-ho="416" name="hoList" value="416">
			      		<label for="416">416호</label>
			      	</div>
			      	<div>
			      		<input type="checkbox" class="flat-red ho" data-floor="5" data-ho="511" name="hoList" value="511">
			      		<label for="511">511호</label>
			      		<input type="checkbox" class="flat-red ho" data-floor="5" data-ho="512" name="hoList" value="512">
			      		<label for="512">512호</label>
			      	</div>
		      	</div>
		      	<div style="height: 20px;"></div>
		      	<div style="text-align: right;">
		      		<input type="hidden" name="Dong" value="B">
		      		<div>
		      			<div class="templeftContainer">
		      				<input type="radio" name="grpTempKey" class="flat-red" id="DiffTemp" value="DiffTemp" checked>
		      				<label for="DiffTemp">난방수온도차</label>
		      			</div>
		      			<div class="tempRightContainer">
		      				<input type="text" id="txtDiffTemp" name="grpTempValue" style="text-align: right;" value="0">
		      				<span>°C</span>
		      			</div>
		      		</div>
<!--		      		
		      		<div>
		      			<div class="templeftContainer">
		      				<input type="radio" name="grpTempKey" class="flat-red" id="OutTemp" value="OutTemp">
			      			<label for="OutHeating">환수온도</label>
		      			</div>
		      			<div class="tempRightContainer">
		      				<input type="text" id="txtOutTemp" name="grpTempValue" style="text-align: right;" disabled>
		      				<span>°C</span>
		      			</div>
		      		</div>
  -->
		      		<div>
		      			<div class="templeftContainer">
		      				<input type="radio" name="grpTempKey" class="flat-red" id="SetTemp" value="SetTemp">	 
			      			<label for="SetTemp">설정온도</label>
		      			</div>
		      			<div class="tempRightContainer">
		      				<input type="text" id="txtSetTemp" name="grpTempValue" style="text-align: right;" disabled value="0">
		      				<span>°C</span>
		      			</div>
		      		</div>
		      		<div>
		      			<div class="templeftContainer">
		      				<label style="margin-left: 23px;">난방</label>
		      			</div>
		      			<div class="tempRightContainer">
		      				<input type="checkbox" name="OnOff" checked data-toggle="toggle" data-size="mini">
		      			</div>
		      		</div>
		      	</div>
		      </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="btnSave">저장</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	      </div>
	    </div>
	    <!-- /.modal-content -->
	  </div>
	  <!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<script type="text/javascript">
	/*<![CDATA[*/
	
	$(function () {
		// 외부 라이브러리 초기화 ※ 모달창 내부에서만 작동하기 위하여 .modal을 붙인다.
		$('.modal input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass: 'icheckbox_flat-green',
			radioClass   : 'iradio_flat-green'
	    });
		$('.modal [data-toggle="toggle"]').bootstrapToggle();
		
		$("#btnSave").click(function() {
			var dataControlConfig = $('form[name="frmDataControlConfig"]').serializeObject();
			
			if(!dataControlConfig.hoList) {
				alert("선택된 호실이 없습니다.");
				return;
			}
			
			if(dataControlConfig.OnOff == "on"){
				if(!dataControlConfig.grpTempValue){
					alert("제어 데이터 설정값을 확인하시기 바랍니다.");
					return;
				}
			}

			if(typeof dataControlConfig.hoList === 'string') {
				dataControlConfig.hoList = [dataControlConfig.hoList];
			}
			
			dataControlConfig.OnOff = dataControlConfig.OnOff ? "1" : "0";
			
			$.ajax({ 
                type: "POST", 
                url: "/mtr/mtrRoombBatchControl", 
                data: dataControlConfig,
                success: function (data) {
                	$(".modal").modal('toggle');
                }
            });
		});
		
		// 전체
		$(".flat-red.all").on("ifToggled", function() {
			$(".flat-red.floor").iCheck(this.checked ? "check" : "uncheck");
		});
		
		// 층
		$(".flat-red.floor").on("ifToggled", function() {
			var floor = $(this).data("floor");
			
			$(".flat-red.ho").filter("[data-floor="+floor+"]").iCheck(this.checked ? "check" : "uncheck");
		});
		
		// 라디오 버튼에 따른 텍스트 입력칸 제어
		$('input[type="radio"].flat-red').on("ifToggled", function() {
			var value = $(this).val();
			
			if(this.checked) {
				$("#txt" + value).prop('disabled', false);
				$("#txt" + value).val("0");
			} else {
				$("#txt" + value).prop('disabled', true);
				$("#txt" + value).val("0");
			}
		});
	});
	
	/*]]>*/
	</script>
</body>
</html>